.Shelf {
    /*margin: auto;*/
    width: 100%;
    flex: 1;
    flex-wrap: wrap;
}

.Shelf .Shelf_img {
    height: 300px;
    width: 33.333333%;
    /*float: left;*/
    /*filter: grayscale(30%);*/
    background-position: center center;
    padding: 0 !important;
    position: relative;
    display: inline-block;
    max-width: 650px;
    /*margin-left: 3px;*/
    max-height: 400px;
}

.Row_centered{
    text-align:center !important;
    justify-content: center;
}

.Col_centered{
    display:inline-block;
    float:none;
}

.Set_bg{
    background-repeat: no-repeat;
    background-size: cover;
}

.Shelf_img__info {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    text-align: center;
    vertical-align: middle;
    /*border: 1px solid #fff;*/
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all .4s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Shelf_img__info:hover{
    opacity: 1;
}

.Shelf_img a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.Shelf_img__info .Info_bg {
    position: absolute;
    width: 105%;
    height: 105%;
    left: -5%;
    top: -5%;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    background-position: center center;
}

.Shelf_img__info h4 {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #000000;
    z-index: 9;
    position: relative;
    font-weight: bold;
    margin-bottom: 10px;
    text-wrap: normal;
}

.Shelf_img__info p {
    font-size: 14px;
    color: #fff;
    z-index: 9;
    position: relative;
    line-height: 2.2;
    margin-top: 0;
    margin-bottom: 1rem;
}

.Category_desc {
    margin-top: 10px;
    padding-top: 25px;
}

.Category_desc p{
    font-size: 12px;
    line-height: 12pt;
}

@media only screen and (max-width: 1280px) {
    .Shelf .Shelf_img  {
        max-height: 250px;
        width: 33.3333%;
    }
}

/*@media only screen and (max-width: 1024px) {*/
/*.gallery .gallery_img  {*/
/*max-height: 300px;*/
/*width: 33.3333%;*/
/*}*/
/*}*/

@media only screen and (max-width: 767px) {
    .Shelf .Shelf_img  {
        height: 250px;
        width: 100%;
    }
}