.InstrumentCard{
    width: 14rem;
    height: 12rem;
    margin: 3px 3px;
    max-height: 13rem;
    align-items: center;
    display: flex;
    border: 1px solid #8a8f99;
}

.Img_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.Card_body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.Card_body_text{
    font-size: 16px;
    font-weight: 500;
}

.InstrumentCard_img{
    padding-top: 7px;
    max-width: 120px;
    max-height: 120px;
    /*height: 30%;*/
}

.InstrumentCard:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: .4s ease-out;
    cursor: pointer;
    z-index: 90;
    /*border: 2px solid #f0be3d;*/
}

@media (max-width: 499px) {
    .InstrumentCard {
        width: 40%;
        height: 9rem;
    }
    .Card_body_text{
        font-size: 14px;
        font-weight: 400;
    }
    .InstrumentCard_img{
        max-width: 85px;
        max-height: 85px;
    }
}