.InstrumentCard{
    width: 14rem;
    margin: 3px 3px;
    max-height: 12rem;
    align-items: center;
}

.InstrumentCard_text{
    font-size: 10px;
}

.InstrumentCard_img{
    max-width: 150px;
    /*height: 30%;*/
}

.InstrumentCard:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: .4s ease-out;
    cursor: pointer;
    z-index: 90;
}