.Operation_mode_section{
    list-style-type: none;
    text-align: left;
    padding-left: 0;
}

.Operation_mode_section span {
    font-size: 12px;
}

.Mode_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px 0 0;
}

.Mode_row .Time {
    padding-left: -5px;
}

.Title {
    text-align: left;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}