.Item_group:first-child{
    padding-top: 0px !important;
}

.Item_group:last-child{
    padding-bottom: 0px !important;
}

.Item_wrapper{
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
}

.Image{
    background-image: url("../../../../assets/images/instruments/bosch_drel.jpeg");
    height: 80px;
    width: 80px;
    background-size: cover;
    background-position: center center;
}

.Title{
  font-size: 14px;
    font-weight: 700;
}

.Desc{
    font-size: 13px;
    padding-bottom: 5px;
}

.Status{
    width: 100px;
    /*font-size: 14px;*/
    /*font-weight: 400;*/

}

.shelfCard:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: .4s ease-out;
    cursor: pointer;
    z-index: 90;
}