.Item_group{
    padding-bottom: 30px;
    padding-top: 20px;
}

.Item_group:first-child{
    padding-top: 0px !important;
}

.Item_group:last-child{
    padding-bottom: 0px !important;
}

.Item_wrapper{
    display: flex;
    flex-direction: row;
    min-height: 130px;
    align-items: center;
}

.Image{
    /*height: 90px;*/
    max-width: 85px;
    background-size: cover;
    background-position: center center;
}

.Details{
    width: 70%;
    text-wrap: normal;
}

.Title{
    font-size: 16px;
    font-weight: 700;
}

.Desc{
    font-size: 13px;
    padding: 0 10px 5px 0;
}

.Status{
    width: 100px;
    /*font-size: 14px;*/
    /*font-weight: 400;*/

}

.Request_btn{
    font-size: 12px ;
    border-radius: 3px;
    max-height: 40px;
    font-weight: 500;
}

@media (max-width: 499px) {
    .Item_wrapper {flex-direction: column}
    .Item_group { display: flex; flex-flow: column; padding-left: 5px; padding-right: 5px}
    .Image { order: 1; width: 50%; max-width: none; padding-bottom: 15px; align-self: baseline}
    .Details { order: 2;  width: 100%; padding-left: 0px !important; }
    .Desc {font-size: 12px; padding: 0;}
    .Request_btn { order: 3; margin-top: 15px; align-self: baseline}
}