.catalog_intro_section{
    min-height: 350px;
    padding-bottom: 10px;
    height: 100%;
    padding-top: 10px;
    text-align: center;
    background: url('../../assets/images/ei-main-copy.jpg') center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*filter: grayscale(40%);*/
}

.row_centered{
    text-align:center !important;
    justify-content: center;
}

.how_to{
    padding: 25px 0;
}

.col_centered{
    display:inline-block;
    float:none;
}

.Welcome_header{
    padding: 80px 0 0px;
}
.Welcome_header h2{
    font-size: 2.8rem;
    font-weight: 700;
    color: #ffffff;
}
.Welcome_header hr {
    margin-top: 40px;
    margin-bottom: 35px;
}

.Subtext{
    font-size: 1.7rem;
    font-weight: 400;
    color: #ffffff;
}

.catalog_button_wrapper{
    padding: 40px 0 20px;
}

.Row{
    padding-top: 30px;
}

