.SiteMenu_section{
    list-style-type: none;
    text-align: left;
    padding-left: 0;
}

.SiteMenu_section li a{
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
}

.SiteMenu_section li div{
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    padding-top: 4px;
}

.Title {
    text-align: left;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}
